@media Screen and (max-width: 1000px) {
    #profile-img {
        width: 500px!important;
    }
}
@media Screen and (max-width: 800px) {
    #profile-img {
        width: 400px!important;
    }
}
@media Screen and (max-width: 600px) {
    #profile-img {
        width: 300px!important;
    }
}
@media Screen and (max-width: 400px) {
    #profile-img {
        width: 250px!important;
    }
}